/* Bounce */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        @include transform-translateY(0);
    }
    40% {
        @include transform-translateY(-15px);
    }
    60% {
        @include transform-translateY(-10px);
    }
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        @include transform-translateY(0);
    }
    40% {
        @include transform-translateY(-15px);
    }
    60% {
        @include transform-translateY(-10px);
    }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }