// Center block
@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Clearfix
@mixin clearfix() {
    content: "";
    display: table;
    table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
    clear: both;
}
@mixin flex() {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
@mixin align-items($position) {
    -webkit-box-align: $position;
    -ms-flex-align: $position;
    align-items: $position;
}
@mixin justify-content($position) {
    -webkit-box-pack : $position;
    -ms-flex-pack : $position;
    justify-content : $position;
}
@mixin flex-direction($direction) {
    flex-direction: $direction;
    -webkit-flex-direction: $direction;
}

//Breakpoints
@mixin breakpoint($point) {
    @if $point==landscape {
        @media all and (orientation: landscape) {
            @content;
        }
    }
    @if $point==extralarge {
        @media (min-width: 1800px) {
            @content;
        }
    }
    @if $point==large {
        @media (min-width: 1200px) {
            @content;
        }
    }
    @else if $point==medium {
        @media (min-width: 992px) {
            @content;
        }
    }
    @else if $point==small {
        @media (min-width: 768px) {
            @content;
        }
    }
    @else if $point==$point {
        @media (min-width: $point) {
            @content;
        }
    }
}

//Border radius
@mixin border-radius($top-left, $top-right, $bottom-right, $bottom-left) {
    border-radius: $top-left $top-right $bottom-right $bottom-left;
    -webkit-border-radius: $top-left $top-right $bottom-right $bottom-left;
    -moz-border-radius: $top-left $top-right $bottom-right $bottom-left;
    -ms-border-radius: $top-left $top-right $bottom-right $bottom-left;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
}

//Postion absolute
@mixin position-absolute($top: auto, $right: auto, $bottom: auto, $left: auto) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

//Box shadow
@mixin box-shadow($shadow) {
    box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -ms-box-shadow: $shadow;
}

//Transform translate x and y
@mixin transform-translate($x, $y) {
    transform: translate($x, $y);
    -webkit-transform: translate($x, $y);
    -moz-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
}

//Transform translate y
@mixin transform-translateY($y) {
    transform: translateY($y);
    -webkit-transform: translateY($y);
    -moz-transform: translateY($y);
    -ms-transform: translateY($y);
}

//Transform translate x
@mixin transform-translateX($x) {
    transform: translateX($x);
    -webkit-transform: translateX($x);
    -moz-transform: translateX($x);
    -ms-transform: translateX($x);
}

//Transform Scale
@mixin transform-scale($scale) {
    transform: scale($scale);
    -webkit-transform: scale($scale);
    -moz-transform: scale($scale);
    -ms-transform: scale($scale);
}

//Transform rotate
@mixin transform-rotate($rotate) {
    transform: rotate($rotate);
    -webkit-transform: rotate($rotate);
    -moz-transform: rotate($rotate);
    -ms-transform: rotate($rotate);
}

//Transform rotate X
@mixin transform-rotateX($rotate) {
    transform: rotateX($rotate);
    -webkit-transform: rotateX($rotate);
    -moz-transform: rotateX($rotate);
    -ms-transform: rotateX($rotate);
}

//Transform rotate Y
@mixin transform-rotateY($rotate) {
    transform: rotateY($rotate);
    -webkit-transform: rotateY($rotate);
    -moz-transform: rotateY($rotate);
    -ms-transform: rotateY($rotate);
}

//Transform Multiple
@mixin transform-multiple($multiple) {
    transform: $multiple;
    -webkit-transform: $multiple;
    -moz-transform: $multiple;
    -ms-transform: $multiple;
}

//Single Tansition
@mixin transition-single($transition) {
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
}

//Transition
@mixin transition($transition1, $transition2, $transition3) {
    transition: $transition1, $transition2, $transition3;
    -webkit-transition: $transition1, $transition2, $transition3;
    -moz-transition: $transition1, $transition2, $transition3;
    -ms-transition: $transition1, $transition2, $transition3;
}

//Animation
@mixin animation($animation) {
    animation: $animation;
    -webkit-animation: $animation;
    -moz-animation: $animation;
    -o-animation: $animation;
}

@mixin filter($filter) {
    filter: $filter;
    -webkit-filter: $filter;
}

