.about {
    &-contents {
        position: relative;
        overflow: hidden;
        @include flex();
        @include align-items(center);
        flex-direction: column;
        @include breakpoint(medium) {
            flex-direction: row;
        }

        .content {
            float: left;
            width: 100%;
            padding: 40px;
            @include breakpoint(small) {
                padding: 80px;
            }
            @include breakpoint(medium) {
                width: 50%;
                padding: 10px 80px;
            }

            & > div {
                width: 100%;
                max-width: 720px;
                margin: 0 auto;

                @include breakpoint(extralarge) {
                    p {
                        font-size: 20px;
                    }
                }
            }
        }

        .image-block {
            width: 100%;
            float: left;
            position: relative;
            min-height: 320px;
            @include breakpoint(small) {
                min-height: 520px;
            }
            @include breakpoint(medium) {
                width: 50%;
                float: right;
            }
            @include breakpoint(extralarge) {
                min-height: 780px;
            }

            &:before {
                content: '';
                background: $lightGrey url(../images/adam-ben.jpg) no-repeat bottom center / contain;
                @include position-absolute(0, auto, auto, 0);
                width: 100%;
                height: 100%;    
            }
            
        }
    }
}