.contact {
    @include flex();
    @include flex-direction(column-reverse);
    @include breakpoint(large) {
        display: unset;
        @include flex-direction(unset);
    }

    #map {
        height: 400px; 
        @include breakpoint(small) {
            height: 680px;
        }
        @include breakpoint(large) {
            width: 100%;
            height: 100vh;
            @include position-absolute(0, auto, auto, 0);
        }
        iframe {
            width: 100%;
            height: 100%;
            border: 0;
        }
    }

    &-content {
        padding: 30px;
        width: 100%;
        @include breakpoint(medium) {
            padding: 80px
        }

        h1 {
            margin-bottom: 40px;
        }

        p {
            font-size: 20px;
            margin-bottom: 25px;
            @include flex();
            @include align-items(center);

            &:not(:first-of-type) {
                font-weight: bold;
            }

            svg {
                color: $gold;
                font-size: 24px;
                margin-right: 15px;
                text-align: center;
                min-width: 30px;
            }

            a {
                color: #333333;

                &.phone {
                    text-decoration: none;
                }
            }
        }

        form {
            margin-top: 10px;
            display: inline-block;
            width: 100%;

            input,
            textarea {
                @include border-radius(0px, 0px, 0px, 0px);
                padding: 15px 20px;
                height: auto;
                font-size: 20px;
                font-weight: bold;
                border: none;
                background: $lightGrey;
                color: #333333;
                @include box-shadow(unset);
            }

            textarea {
                height: 220px;
            }

            button {
                width: 100%;

                svg {
                    animation: spin 1s linear infinite;
                    font-size: 25px; 
                    margin-left: 5px;
                }
            }

            .sent {
                font-size: 21px;
                font-weight: bold;
                text-align: center;
                border: 3px solid $gold;
                padding: 20px;
            }
        }
    }
}