.footer {
    display: inline-block;
    width: 100%;
    position: relative;
    padding: 25px 15px;
    z-index: 1;
    color: $lightGrey;
    background: #000000;

    p {
        font-size: 14px;
    }

    a {
        color: $gold;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}