*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

* {
	margin: 0px;
	padding: 0px;
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	//overflow-x: hidden;
	height: 100%;
}

body {
	position: relative;	
	height: 100%;
	//overflow: auto !important;
}

h1, h2, h3, h4, h5 {
	margin: 0px;
	padding: 0px;
}

h1 {
	font-size: 32px;
}

p {
	margin-bottom: 30px;
	line-height: 1.5;
	font-size: 16px;

	&:last-child {
		margin-bottom: 0px;
	}
}

a {
	text-decoration: underline;
	outline: none !important;
}

ul, ol {
	margin-bottom: 0;
}

.overflow-hidden {
	overflow: hidden;
}

.do-not-show {
	display: none;
}

.no-padding {
	padding: 0px;
}

.border-radius-100 {
	@include border-radius(100%, 100%, 100%, 100%);
}

.position-absolute-center {
	@include position-absolute(50%, auto, auto, 50%);
	@include transform-translate(-50%, -50%);
}

#root {
	height: 100%;

	.App {
		height: inherit;

		button {
			background: $gold;
			border: 0px;
			padding: 15px 25px;
			font-weight: bold;
			text-transform: uppercase;
			outline: none;
			text-shadow: none;
			@include border-radius(0, 0, 0, 0);
			@include transition-single(all 0.1s linear);
			@include box-shadow(0px 0px 0px 0px rgba(0, 0, 0, 0.4))
			@include breakpoint(large) {
				font-size: 20px;
			}

			&:hover {
				@include box-shadow(0px 12px 5px -8px rgba(0, 0, 0, 0.4));
				@include transition-single(all 0.1s linear);
				@include transform-scale(1.025);
			}
		}

	}
}


section {
	position: relative;
	float: left;
	width: 100%;
	background: #ffffff url(../images/concrete-bg-2.png) repeat;
	z-index: 1;
	overflow: hidden;

	h1 {
		display: inline-block;
		text-transform: uppercase;
		font-weight: bold;
		padding-bottom: 10px;
		margin-bottom: 25px;
		border-bottom: 5px solid $gold;
	}
	
}
