.header {
    background: #000000;
    float: left;
    width: 100%;
    padding: 15px;
    position: relative;
    z-index: 100;
    @include box-shadow(0 0 15px 0px rgba(0, 0, 0, 0.5));
    @include breakpoint(medium) {
        position: fixed;
        float: unset;
        @include flex();
        @include align-items(center);
        @include justify-content(space-between);
    }

    .logo-wrapper {
        max-width: 300px;
        @include breakpoint(medium) {
            margin: unset;
        }

        .logo {
            width: 100%;
        }
    }

    .nav {
        margin-top: 20px;
        @include breakpoint(medium) {
            margin-top: 7px;
        }

        .mobile-menu {
            @include flex();
            @include align-items(center);
            width: 100%;
            max-width: 450px;
            margin: 0 auto;
            background: $darkGrey;
            color: #ffffff;
            padding: 15px;
            cursor: pointer;

            &:first-child {
                span {
                    font-size: 16px;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }

            .hamburger {
                height: 24px;
                padding: 0;
                display: block;

                .hamburger-inner,
                .hamburger-inner::before,
                .hamburger-inner::after {
                    background: $gold;
                }
            }

            & + ul {
                display: inline-block;
                width: 100%;
                max-width: 450px;
                margin: 0 auto;
                background: #ffffff;

                li {
                    list-style: none;                    

                    &:last-child {
                        margin-bottom: 0;
                        border: none;
                    }

                    .nav-item {
                        text-decoration: none;
                        text-transform: uppercase;
                        color: $darkGrey;
                        width: 100%;
                        padding: 15px;
                        text-align: left;
                        border-bottom: 1px solid rgba($darkGrey, 0.2);
                        cursor: pointer;
                        font-size: 13px;
                        font-weight: bold;

                        .svg-inline--fa {
                            float: right;
                            font-size: 18px;
                        }
                    }
                }
            }
        }

        .menu {
            position: relative;

            ul {
                display: inline-block;
                padding: 0;
                
                li {
                    display: inline-block;
                    padding-right: 20px;

                    &:last-child {
                        padding-right: 0px;
                    }

                    .nav-item {
                        color: #ffffff;
                        cursor: pointer;
                        font-weight: bold;
                        font-size: 15px;
                        text-transform: uppercase;
                        @include transition-single(all 0.2s linear);
                        border-bottom: 2px solid transparent;
                        padding-bottom: 5px;

                        &:hover {
                            color: $gold;
                            border-color: $gold;
                            @include transition-single(all 0.2s linear);
                        }
                    }
                }
            }
        }        
    }
}