.intro {
    position: relative;
    float: left;
    width: 100%;
    height: calc(100%);
    @include flex();
    @include justify-content(center);
    @include breakpoint(small) {
        height: 100%;
    }    

    #bg-video {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%; 
        min-height: 100%;
        @include transform-translate(-50%, -50%);
        z-index: 0;
    }

    &:after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        z-index: 1;
        background: #000000 url(../images/intro-overlay.png);
    }

    &-content {
        @extend .position-absolute-center;
        text-align: center;
        z-index: 10;
        color: #ffffff;
        text-transform: uppercase;
        padding: 0 20px;
        width: 100%;
        max-width: 400px;
        @include breakpoint(small) {
            max-width: 615px;
        }
        @include breakpoint(large) {
            max-width: 720px;
        }

        h1 {
            font-weight: bold;
            font-size: 36px;
            line-height: 33px;
            margin: 0 25px 25px 25px;
            padding-bottom: 25px; 
            border-bottom: 5px solid $gold;
            @include breakpoint(small) {
                font-size: 65px;
                line-height: 55px;
            }

            span {
                font-size: 27px;
                display: block;
                font-weight: normal;
                @include breakpoint(small) {
                    font-size: 45px;
                }
            }
        }

        p {
            text-transform: none;
            font-size: 15px;
            @include breakpoint(small) {
                font-size: 18px;
            }
            @include breakpoint(large) {
                font-size: 21px;
            }
        }
    }

    .svg-inline--fa {
        @include position-absolute(auto, auto, 10px, auto);
        //@include transform-translateX(-50%);
        color: #ffffff;
        font-size: 32px;
        z-index: 10;
        cursor: pointer;
        @include animation(bounce 2s infinite)
        @include breakpoint(small) {
            font-size: 46px;
            bottom: 25px;
        }
    }
}