.services {
    padding: 100px 20px;
    background: $darkishGrey url(../images/concrete-bg.png) repeat;

    &:after {
        content: '';
        @include position-absolute(0, auto, auto, 0);
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.55);
        z-index: -1;
    }
    
    &-content {
        width: 100%;

        h1 {
            color: #ffffff;
            margin-bottom: 60px;
        }

        .services-blocks {
            @include flex();
            flex-direction: column;
            width: 100%;
            @include breakpoint(large) {
                flex-direction: row;
                justify-content: space-evenly;
                max-width: 1500px;
                margin: 0 auto;
            }

            .service-item {
                background: #ffffff;
                width: 100%;
                max-width: 500px;
                margin: 0 auto 20px auto;
                //@include box-shadow(0px 12px 5px -5px rgba(0, 0, 0, 0.4));
                @include transition-single(all 0.2s ease-in-out);
                @include breakpoint(large) {
                    max-width: unset;
                    margin: 0 20px 0 0;
                }

                &:last-of-type {
                    @include breakpoint(large) {
                        margin-right: 0px;
                    }
                }

                &:hover {
                    @include transform-scale(1.025);
                    @include transition-single(all 0.2s ease-in-out);
                    @include box-shadow(0px 15px 5px -7px rgba(0, 0, 0, 0.4) !important);
                }

                .bg-img {
                    height: 450px;
                }

                &-content {
                    padding: 40px;

                    h3 {
                        color: $gold;
                        text-transform: uppercase;
                        margin-bottom: 20px;
                        font-weight: bold;
                    }
                }
                
            }
        }
    }
}