.testimonials {
    padding: 80px 40px;
    
    &:before {
        content: '';
        @include position-absolute(0, auto, auto, 0);
        width: 105%;
        height: 105%;
        z-index: 0;
        background: $darkishGrey url(../images/testimonial-bg.jpg) repeat center;
        background-size: cover;
        background-attachment: fixed;
        @include filter(blur(10px));
    }

    &:after {
        content: '';
        @include position-absolute(0, auto, auto, 0);
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.80) url(../images/intro-overlay.png) repeat;
        z-index: 1;
    }

    &-content {
        position: relative;
        z-index: 2;
        color: #ffffff;

        h1 {
            margin-bottom: 40px;
        }

        .description {
            font-size: 20px;
            margin: 0 0 40px 0;
        }

        .carousel {
            max-width: 1000px;
            display: block;
            margin: 0 auto;

            &-indicators {
                bottom: -25px !important;

                li {
                    width: 15px;
                    height: 15px;
                    margin: 0 2.5px;
                }

                .active {
                    background: $gold;
                    border-color: $gold;
                }
            }

            &-inner {

                .item {

                    &-content {
                        min-height: 370px;
                        @include flex();
                        //@include justify-content(center);
                        @include flex-direction(column);

                        .quote {
                            line-height: 1.5;
                            margin: 0px 0 40px 0;
                            position: relative;
                            font-size: 21px;
                            @include breakpoint(small) {
                                font-size: 30px;
                            }
                        }

                        .quote-by {
                            font-weight: bold;                
                            color: $gold;
                            text-transform: uppercase;
                            font-size: 20px;
                            margin-bottom: 15px;
                        }

                        .quote-logo {
                            max-width: 200px;
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }
}