.our-work {
    padding: 80px 0 0 0;
    @include breakpoint(small) {
        padding-bottom: 80px;
    }

    h1 {
        margin-bottom: 80px;
    }

    .react-photo-gallery--gallery {
        @include breakpoint(large) {
            max-width: 1375px;
            margin: 0 auto;
        }
        @include breakpoint(extralarge) {
            min-width: 1200px;
            max-width: 70%;
            
        }

        img {
            @include transition-single(all 0.2s ease-in-out);
            &:hover {
                @include transition-single(all 0.2s ease-in-out);
                @include transform-scale(1.015);
                @include box-shadow(0px 0px 10px 0px rgba(0,0,0,0.3));
            }
        }
    }
}